*{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 680px;
    overflow-x: hidden;
}
body{
    background-color: #ecfccb;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 0.5rem 0;
}
.header > h1{
    text-align: center;
    margin-top: 1rem;
}
div.group{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
div.group > label {
    font-size: 1.1rem;
    margin: 0;
}
small{
    margin: 0;
}
.required{
    font-size: 0.7rem !important;
}
input{
    width: 100%;
    max-width: 100vw;
    height: 2.5rem;
    border: 1px solid #115e59;
    border-radius: 0.2rem;
}
.btn{
    padding: 0.6rem 5rem;
    background-color: #a7f3d0;
    border-radius: 0.2rem;
    font-size: 1rem;
    border: 1px solid #115e59;
    cursor: pointer;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        padding: 0.3rem;
    }
} 
.is-triangle-outputBox, .outputBox{
    font-size: 01.2rem;
    margin-top: 00.5rem;
}
.list-non-bullet{
    list-style: none;
}

.list-item{
    display: inline;
    padding: 0rem 0.5rem;
}
.footer{
    border-top: 1px solid #e5e7eb;
    text-align: center;
    width: 100%;
    bottom: 0;
}
.svg_width{
    width: 2.3rem !important;
}
.footer-container{
    padding: 0.1rem;
}
.footer .heading{
    display: flex;
    align-items: center;
}
.code{
    border: 0.2rem solid #84cc16;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 3rem;
}
code {
    font-weight: 800;
    font-size: 1.2rem;
}

nav {
    padding: 0.2rem;
    margin: 0.5rem;
    width: 100%;
    font-size: 1.4rem;
}
nav > a {
    text-decoration: none;
    margin: 0 0.3rem;
    color: #171717;
}
.item-active{
    color: #38bdf8;
    border-bottom: 0.2rem solid #38bdf8;
}